<div class="row">
  <div class="col">
    <p class="h4">Personal Dashboard</p>
  </div>
  <div class="col text-end">
    Welcome <%= @person.first_name %>!
  </div>
  
  <% if @person.birth_date.present? && @person.birth_date.month == Date.today.month && @person.birth_date.day == Date.today.day %>
    <div data-controller="confetti"></div>
  <% end %>
</div>

<div class="row">
  <div class="col-sm-3">
    <div class="card h-100">
      <div class="card-body p-2">
        <h5 class="card-title text-dark" id="empName"><%= @person.full_name %></h5>
        <p><small class="fs-6 fst-italic" id="role"><%= @employee.current_position %></small></p>
        <p><%= @employee.current_department %></p>
        <p><%= @employee.current_branches %></p>
        <p><%= @employee.employment_date.strftime('%d %b, %Y') %> - </p>
      </div>
    </div>
  </div>
  <div class="col-sm-5">
    <div class="card">
      <div class="card-body p-2">
        <div class="row">
          <div class="col">
            <h6 class="card-title">Level Of Effort</h6>
          </div>
        </div>
        <table class="table table-bordered p-0 m-0 h-75">
         <tr>
          <td>
            Target
            <canvas id="loeTargetPie" style="height: 20vh !important; width: 10vw;margin-left: auto; margin-right: auto;"></canvas>
          </td>
          <td>
            Current
            <canvas id="loeActualPie" style="height: 20vh !important; width: 10vw;margin-left: auto; margin-right: auto;"></canvas>
          </td>
        </tr>
        </table>
      </div>
    </div>
  </div>


  <%# RECOGNITION PANE %>

  <div class="col-sm-4">
    <div class="card h-100" style="max-height: 280px; overflow-y: auto;">
      <div class="card-body p-2">
        <h6 class="card-title" style= "font-size: 18px">Upcoming Deadlines & Activities</h6>
          <table class="table m-0">
            <thead style= "font-size: 14px">
              <tr>
                <th style="width:20%">Date</th>
                <th>Task</th>
              </tr>
            </thead>
            <tbody class="fs-6">
            <% (@upcoming_deadlines.keys.sort || []).each do |key| %>
              <tr>
                <td rowspan="<%= @upcoming_deadlines[key].length %>">
                  <%= Time.at(key).strftime('%d %b,%Y')%>
                </td>
                <% (@upcoming_deadlines[key] || []).each do |activity| %>
                  <td><%= activity %></td></tr><tr>
                <% end %>
              </tr>
            <% end %>
            </tbody>
        </table>
      </div>
    </div>
  </div>

<%# END OF PANE %>
</div>
<div class="row mt-4">
  <div class="col-sm-4">
    <div class="card h-100">
      <div class="card-header d-flex justify-content-between align-items-center">
        <h5 class="card-title text-dark d-flex align-items-center m-0">
          Pending Actions
          <span class="badge rounded-pill bg-danger ms-2">
            <%= (@pending_actions || []).length %>
            <span class="visually-hidden">actions to perform</span>
          </span>
        </h5>

        <%# filter option %>
        <div>
          <select class="form-select form-select-sm" id="actionFilter">
            <option data-options="all">All Actions</option>
            <% (@pending_actions || []).map { |action| action[1].split('/')[1] }.uniq.each do |type| %>
              <option data-options="<%= type %>">
                <%= type.gsub(/[_-]/, ' ').titleize %>
              </option>
            <% end %>
          </select>
        </div>
      </div>
      <div class="card-body p-2 overflow-y-scroll" style="height:25vh;">
        <% if (@pending_actions || []).empty? %>
          <span class="fw-normal">No tasks assigned</span>
        <% else%>
          <ul class="list-group list-group-flush">
            <% (@pending_actions || []).each do |action| %>
              <a
              href="<%= action[1] %>"
              class="list-group-item list-group-item-action"
              data-item="<%=action[1].split('/')[1]%>"
              >
                <%= action[0] %>
              </a>
            <% end %>
          </ul>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card h-100">
      <div class="card-header">
        <h5 class="card-title text-dark">Personal Statistics</h5>
      </div>
      <div class="card-body p-2">
        <ul class="list-group ">
          <li class="list-group-item d-flex justify-content-between align-items-start list-group-item-action" onmousedown="window.location='/leave_requests'">
            <div class="ms-2 me-auto">
              <div class="fw-bold">Unused Leave</div>
              Paid leave days remaining
            </div>
            <span class="badge bg-primary rounded-pill">
              <%= ([@unused_leave, 0.0].max).round(2) %>
            </span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
              <div class="fw-bold">Unsubmitted Timesheets</div>
              Overdue timesheets
            </div>
            <span class="badge bg-primary rounded-pill"><%= @outstanding_timesheets.to_s.rjust(3,' ') %></span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-start list-group-item-action" onmousedown="window.location='/leave_requests'">
            <div class="ms-2 me-auto">
              <div class="fw-bold">Compensatory Leave</div>
              Extra hours accumulated
            </div>
            <span class="badge bg-primary rounded-pill"><%= @employee.compensatory_leave %></span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-start list-group-item-action" onmousedown="window.location='/leave_requests'">
            <div class="ms-2 me-auto">
              <div class="fw-bold">Used Leave Days</div>
              Paid leave days taken this month
            </div>
            <span class="badge bg-primary rounded-pill"><%= @employee.used_leave_days %></span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card h-100">
      <div class="card-header">
        <h5 class="card-title text-dark">Assigned Tasks
          <span class="badge rounded-pill bg-danger">
            <%= (@approvals || []).length %>
            <span class="visually-hidden">actions to perform</span>
          </span>
        </h5>
      </div>
      <div class="card-body p-2">
        <% if (@approvals || []).empty? %>
          <span class="fw-normal">No tasks assigned</span>
        <% else%>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="card h-100">
      <div class="card-header">
        <h5 class="card-title text-dark">Current Projects</h5>
      </div>
      <div class="card-body p-2">
        <% if (@project_names || []).empty? %>
          <h3>No Current Projects</h3>
        <% else %>
          <ul class="list-group">
            <% (@project_names || []).each do |project| %>
              <li class="list-group-item"><%= project.short_name %></li>
            <% end %>
          </ul>
        <%end%>
      </div>
    </div>
  </div>
</div>


<script>

var labels = <%= raw((@projects_with_effort.map(&:short_name) + ['Unallocated']).to_json) %>;
var data   = <%= raw((@projects_with_effort.map(&:allocated_effort) + [@unallocated_loe]).to_json) %>;


new Chart(document.getElementById("loeTargetPie"), {
    type : 'doughnut',
    data : {
        labels : labels,
        datasets : [ {
            data : data
        } ]
    },
    options : {
        responsive: false,
        plugins: {
            legend: {
                display: false
            },
            tooltip: {
                callbacks: {
                    label: function (tooltipItem) {
                        let value = tooltipItem.formattedValue;
                        return `${value} %`;
                    }
                }
            }
        }
    }
});

  var currLabels = "<%= @loe_current.keys.join(",") %>"
  new Chart(document.getElementById("loeActualPie"), {
      type : 'doughnut',
      data : {
          labels : currLabels.split(','),
          datasets : [ {
              data : <%= @loe_current.collect { |x,y| ((y/@total_hrs)*100).floor(2) }.to_s %>
          } ]
      },
      options : {
          responsive: false,
          plugins: {
              legend: {
                  display: false
              }
          }
      }
  });

// Filter Pending actions
// Use Turbo's event to ensure the script runs after every page load/navigation
document.addEventListener('turbo:load', function() {
  const actionFilter = document.getElementById('actionFilter');
  const listItems = document.querySelectorAll('.list-group-item');

  function filterItems(selectedOption) {
    listItems.forEach(item => {
      const itemType = item.dataset.item;
      item.style.display = (selectedOption === 'all' || itemType === selectedOption) ? 'block' : 'none';
    });
  }

  if (actionFilter) {
    actionFilter.addEventListener('change', function() {
      const selectedOption = this.options[this.selectedIndex].dataset.options;
      filterItems(selectedOption);
    });

    filterItems('all');
  }
});

</script>