<div class="row">
  <div class="col">
    <p class="h4">Personal Dashboard</p>
  </div>
  <div class="col text-end">
    Welcome <%= @person.first_name %>!
  </div>
  
  <% if @person.birth_date.present? && @person.birth_date.month == Date.today.month && @person.birth_date.day == Date.today.day %>
    <div data-controller="confetti"></div>
  <% end %>
</div>

<div class="row">
  <div class="col-sm-3">
    <div class="card h-100">
      <div class="card-body p-2">
        <h5 class="card-title text-dark" id="empName"><%= @person.full_name %></h5>
        <p><small class="fs-6 fst-italic" id="role"><%= @employee.current_position %></small></p>
        <p><%= @employee.current_department %></p>
        <p><%= @employee.current_branches %></p>
        <p><%= @employee.employment_date.strftime('%d %b, %Y') %> - </p>
      </div>
    </div>
  </div>
  <div class="col-sm-5">
    <div class="card">
      <div class="card-body p-2">
        <div class="row">
          <div class="col">
            <h6 class="card-title">Level Of Effort</h6>
          </div>
        </div>
        <table class="table table-bordered p-0 m-0 h-75">
         <tr>
          <td>
            Target
            <canvas id="loeTargetPie" style="height: 20vh !important; width: 10vw;margin-left: auto; margin-right: auto;"></canvas>
          </td>
          <td>
            Current
            <canvas id="loeActualPie" style="height: 20vh !important; width: 10vw;margin-left: auto; margin-right: auto;"></canvas>
          </td>
        </tr>
        </table>
      </div>
    </div>
  </div>


  <%# RECOGNITION PANE %>

  <div class="col-sm-4">
    <div class="card h-100 border-0 shadow-sm">
      
      <!-- Header -->
      <div class="card-header bg-light">
        <span class="fs-7 fw-semibold">Recognition Rewards</span>
      </div>

      <!-- Card Body -->
      <div class="card-body" style="max-height: 280px; overflow-y: auto;">

          <table class="table table-borderless text-center mx-auto" style="width:auto;">
            <tbody style="line-height: 1; font-size: 0.9rem;">
              <tr>
                <td class="px-5" style="padding: 0.25rem;">Contests</td>
                <td class="px-5" style="padding: 0.25rem;">Elections</td>
              </tr>
              <tr class="text-center bg-light">
                <td class="px-5" style="padding: 0.25rem;">
                  <span class="fs-4 fw-bold">
                    <%= @recognition_reward_data[:contest_count] %>
                  </span>
                </td>
                <td class="px-5" style="padding: 0.25rem;">
                  <span class="fs-4 fw-bold"><%= @recognition_reward_data[:election_count] %></span>
                </td>
              </tr>
            </tbody>
          </table>


  
        <% @recognition_reward_data[:active_contest_data].group_by { |c| c[:competition_id] }.each do |competition_id, entries| %>
          <h5 class="custom-badge d-flex justify-content-between align-items-center mb-3">
            <span><%= entries.first[:competition_name] %></span>
            <span>
              <a href='<%= "#{@recognition_reward_data[:RECOGNITION_URL]}/competitions/#{competition_id}" %>' target="_blank" class="text-decoration-none bg-light">
                <button class="btn btn-light">Participate</button>
              </a>
            </span>
          </h5>

          <div class="card border mb-1 bg-light">
            <div class="card-body p-0">
              <div class="row g-0 text-center align-items-center">
                <% entries.each do |entry| %>
                  <div class="col border-end p-1">
                    <span ><%= entry[:vote_count] %></span>
                    <span class="text-muted fs-6">pts</span>
                    <p class="text-muted mb-0"><%= entry[:receiver_name] %></p>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>     
      </div>
    </div>
  </div>

<%# END OF PANE %>
</div>
<div class="row mt-4">
  <div class="col-sm-4">
    <div class="card h-100">
      <div class="card-header">
        <h5 class="card-title text-dark">
          Pending Actions
          <span class="badge rounded-pill bg-danger">
            <%= (@pending_actions || []).length %>
            <span class="visually-hidden">actions to perform</span>
          </span>
        </h5>
      </div>
      <div class="card-body p-2 overflow-y-scroll" style="height:25vh;">
        <% if (@pending_actions || []).empty? %>
          <span class="fw-normal">No tasks assigned</span>
        <% else%>
          <ul class="list-group list-group-flush">
            <% (@pending_actions || []).each do |action| %>
              <a href="<%= action[1] %>" class="list-group-item list-group-item-action"><%= action[0] %></a>
            <% end %>
          </ul>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card h-100">
      <div class="card-header">
        <h5 class="card-title text-dark">Personal Statistics</h5>
      </div>
      <div class="card-body p-2">
        <ul class="list-group ">
          <li class="list-group-item d-flex justify-content-between align-items-start list-group-item-action" onmousedown="window.location='/leave_requests'">
            <div class="ms-2 me-auto">
              <div class="fw-bold">Unused Leave</div>
              Paid leave days remaining
            </div>
            <span class="badge bg-primary rounded-pill">
              <%= ([@unused_leave, 0.0].max).round(2) %>
            </span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
              <div class="fw-bold">Unsubmitted Timesheets</div>
              Overdue timesheets
            </div>
            <span class="badge bg-primary rounded-pill"><%= @outstanding_timesheets.to_s.rjust(3,' ') %></span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-start list-group-item-action" onmousedown="window.location='/leave_requests'">
            <div class="ms-2 me-auto">
              <div class="fw-bold">Compensatory Leave</div>
              Extra hours accumulated
            </div>
            <span class="badge bg-primary rounded-pill"><%= @employee.compensatory_leave %></span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-start list-group-item-action" onmousedown="window.location='/leave_requests'">
            <div class="ms-2 me-auto">
              <div class="fw-bold">Used Leave Days</div>
              Paid leave days taken this month
            </div>
            <span class="badge bg-primary rounded-pill"><%= @employee.used_leave_days %></span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card h-100">
      <div class="card-header">
        <h5 class="card-title text-dark">Assigned Tasks
          <span class="badge rounded-pill bg-danger">
            <%= (@approvals || []).length %>
            <span class="visually-hidden">actions to perform</span>
          </span>
        </h5>
      </div>
      <div class="card-body p-2">
        <% if (@approvals || []).empty? %>
          <span class="fw-normal">No tasks assigned</span>
        <% else%>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="card h-100">
      <div class="card-header">
        <h5 class="card-title text-dark">Current Projects</h5>
      </div>
      <div class="card-body p-2">
        <% if (@project_names || []).empty? %>
          <h3>No Current Projects</h3>
        <% else %>
          <ul class="list-group">
            <% (@project_names || []).each do |project| %>
              <li class="list-group-item"><%= project.short_name %></li>
            <% end %>
          </ul>
        <%end%>
      </div>
    </div>
  </div>
</div>




<style>
  .tableContainer {
      height: 50vh;
      overflow: auto;
      text-align: left !important;
  }
  .welcome {
      float: right;
      font-family: "Arial", sans-serif;
      font-size: medium;
  }
</style>

<script>

  var labels = "<%= ((@project_names.collect { |x| x.short_name }) + ['Unallocated']).join(",") %>"
  new Chart(document.getElementById("loeTargetPie"), {
      type : 'doughnut',
      data : {
          labels : labels.split(','),
          datasets : [ {
              data : <%= (@loe_targets.collect { |x| (x.allocated_effort)} + [@unallocated_loe ]).to_s  %>
          } ]
      },
      options : {
          responsive: false,
          plugins: {
              legend: {
                  display: false
              },
              tooltip: {
                  callbacks: {
                      // Custom label for tooltip
                      label: function (tooltipItem) {
                          let label = tooltipItem.label;
                          let value = tooltipItem.
                              formattedValue;
                          return `${value} %`
                      }
                  }
              }
          }
      }
  });
  var currLabels = "<%= @loe_current.keys.join(",") %>"
  new Chart(document.getElementById("loeActualPie"), {
      type : 'doughnut',
      data : {
          labels : currLabels.split(','),
          datasets : [ {
              data : <%= @loe_current.collect { |x,y| ((y/@total_hrs)*100).floor(2) }.to_s %>
          } ]
      },
      options : {
          responsive: false,
          plugins: {
              legend: {
                  display: false
              }
          }
      }
  });
</script>

<style>
  .custom-badge {
  background-color: #36a2eb;
  color: white;
  font-weight: semi-bold;
  padding: 4px 8px;
  border-radius: 4px;
  display: inline-block;
  text-align: center;
  }
</style>