<div class="row">
  <div class="col">
    <p class="h4">Personal Dashboard</p>
  </div>
  <div class="col text-end">
    Welcome <%= @person.first_name %>!
  </div>  
</div>

<div class="row">
  <div class="col-sm-3">
    <div class="card h-100">
      <div class="card-body p-2">
        <h5 class="card-title text-dark" id="empName"><%= @person.full_name %></h5>
        <p><small class="fs-6 fst-italic" id="role"><%= @employee.current_position %></small></p>
        <p><%= @employee.current_department %></p>
        <p><%= @employee.current_branches %></p>
        <p><%= @employee.employment_date.strftime('%d %b, %Y') %> - </p>
      </div>
    </div>
  </div>
  <div class="col-sm-5">
    <div class="card">
      <div class="card-body p-2">
        <div class="row">
          <div class="col">
            <h6 class="card-title">Level Of Effort</h6>
          </div>
        </div>
        <table class="table table-bordered p-0 m-0 h-75">
         <tr>
          <td>
            Target
            <canvas id="loeTargetPie" style="height: 20vh !important; width: 10vw;margin-left: auto; margin-right: auto;"></canvas>
          </td>
          <td>
            Current
            <canvas id="loeActualPie" style="height: 20vh !important; width: 10vw;margin-left: auto; margin-right: auto;"></canvas>
          </td>
        </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card h-100" style="max-height: 280px; overflow-y: auto;">
      <div class="card-body p-2">
        <h6 class="card-title" style= "font-size: 18px">Upcoming Deadlines</h6>
          <table class="table m-0">
            <thead style= "font-size: 14px">
              <tr>
                <th style="width:25%">Date</th>
                <th>Task</th>
              </tr>
            </thead>
            <tbody style= "font-size: 12px">
            <% (@upcoming_deadlines || []).each do |list| %>
              <tr >
                <td><%= list.deadline.strftime('%d %b,%y')%></td>
                <td><%= list.task_description %></td>
              </tr>
            <% end %>
            </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="row mt-4">
  <div class="col-sm-12">
    <div class="card ">
      <div class="card-header card-header-dark">
      <nav>
        <div class="nav nav-tabs " id="nav-tab" role="tablist">
          <button class="nav-link" id="nav-requisition-tab" data-bs-toggle="tab" data-bs-target="#nav-requisition" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Requisitions</button>
          <button class="nav-link" id="nav-assignedTasks-tab" data-bs-toggle="tab" data-bs-target="#nav-assignedTasks" type="button" role="tab" aria-controls="nav-assignedTasks" aria-selected="false">Assigned Tasks</button>
          <button class="nav-link" id="nav-project-tab" data-bs-toggle="tab" data-bs-target="#nav-project" type="button" role="tab" aria-controls="nav-project" aria-selected="true">Projects</button>
          <button class="nav-link" id="nav-approval-tab" data-bs-toggle="tab" data-bs-target="#nav-approval" type="button" role="tab" aria-controls="nav-approval" aria-selected="false">Pending Approvals</button>
        </div>
      </nav>
      </div>
      <div class="card-body">
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade" id="nav-requisition" role="tabpanel" aria-labelledby="nav-requisition-tab">
            <h3>Requisitions</h3>
          </div>
          <div class="tab-pane fade" id="nav-assignedTasks" role="tabpanel" aria-labelledby="nav-assignedTasks-tab">
            <%= render partial: 'project_task_assignments/index' %>
          </div>
          <div class="tab-pane fade" id="nav-project" role="tabpanel" aria-labelledby="nav-project-tab">
            <h3>Projects</h3>
          </div>
          <div class="tab-pane fade" id="nav-approval" role="tabpanel" aria-labelledby="nav-approval-tab">
            <% if (@approvals || []).empty? %>
              <h3>No Pending Approvals</h3>
            <% else%>

            <table class="table table-striped ml-8 table-hover", style="width: 100%">
              <thead class="table">
                  <th>Requisition Type</th>
                  <th>Person / Stakeholder</th>        
                  <th>Date Submitted</th>  
                  <th>Action</th>  
              </thead>
              <tbody>
                <% (@approvals || []).each do |approval| %>
                  <tr>
                      <td>Timesheet</td>        
                      <td><%= approval.employee.person.full_name%></td> 
                      <td><%= approval.submitted_on %></td>    
                      <td><%= link_to 'View', approval %></td>    
                  </tr>
                <% end %>
              </tbody>
            </table>
              <%#= render partial: 'requisitions/index' %>
            <% end%>  
          </div>
        </div>
      </div>
    </div>
  </div>
<!--
  <div class="col-sm-2">
    <div class="card p-2 h-75">
      <h6 class="is-primary">Key Performance Indicators</h6>
      <div class="tableContainer">
        <div class="box m-1">
          Timeliness
          <div role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="--value:85;margin-left: auto; margin-right: auto;"></div>
        </div>
        <div class="box m-1">
          Task Completion
          <div role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="--value:15;margin-left: auto; margin-right: auto;"></div>
        </div>
      </div>
    </div>
  </div>!-->
</div>  

      

<style>
  .tableContainer {
      height: 50vh;
      overflow: auto;
      text-align: left !important;
  }
  .welcome {
      float: right;
      font-family: "Arial", sans-serif;
      font-size: medium;
  }
</style>

<script>

  var labels = "<%= @project_names.collect { |x| x.short_name }.join(",") %>"
  new Chart(document.getElementById("loeTargetPie"), {
      type : 'doughnut',
      data : {
          labels : labels.split(','),
          datasets : [ {
              data : <%= @loe_targets.collect { |x| (x.allocated_effort) }.to_s %>
          } ]
      },
      options : {
          responsive: false,
          plugins: {
              legend: {
                  display: false
              }
          }
      }
  });
  var currLabels = "<%= @loe_current.keys.join(",") %>"
  new Chart(document.getElementById("loeActualPie"), {
      type : 'doughnut',
      data : {
          labels : currLabels.split(','),
          datasets : [ {
              data : <%= @loe_current.collect { |x,y| ((y/@total_hrs)*100).floor(2) }.to_s %>
          } ]
      },
      options : {
          responsive: false,
          plugins: {
              legend: {
                  display: false
              }
          }
      }
  });
</script>
