<%= javascript_include_tag 'custom/jquery-3.6.1.min', 'data-turbolinks-track' => false %>

<p class="h5">Assets Dashboard</p>
<div class="border p-2">
  <h6>Assets Filter</h6>
  <div class="row pt-2 pb-2">
    <div class="col">
      <select class="form-select" id="categoryFilter">
        <% (@categories || []).each do |id, category| %>
          <option value="<%= category %>"><%= category %></option>
        <%end %>
      </select>
    </div>
    <div class="col">
      <input class="form-control" type="text" placeholder="Search for Asset" id="textFilter">
    </div>
    <div class="col">
      <button class="btn btn-success">
        Search
      </button>
      <%= link_to "Register Asset", new_business_asset_path, class: "btn btn-primary",
                  data: { turbo_frame: "remote_modal" } %>
    </div>
  </div>
</div>

<div class="border p-2 mt-2 fs-6">
  <table class="table table-stripped" id="assetTable">
    <thead class="thead-light">
      <tr>
        <th><abbr title="Lost">Asset ID</abbr></th>
        <th><abbr title="Lost">Category</abbr></th>
        <th><abbr title="Goals for">Description </abbr></th>
        <th><abbr title="Goal difference">Serial Num.</abbr></th>
        <th><abbr title="Points">Location</abbr></th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @assets.each do |asset| %>
        <tr>
          <td><%= asset.tag_id %></td>
          <td><%= @categories[asset.asset_category_id] %></td>
          <td><%= asset.description %></td>
          <td><%= asset.serial_number %></td>
          <td><%= asset.location %></td>
          <td>
            <%= link_to image_tag("/assets/info.png"), "business_assets/#{asset.id}", data: { turbo_frame: "remote_model"}%>
            <%= link_to image_tag("/assets/edit.png"), "business_assets/#{asset.id}/edit", data: { turbo_frame: "remote_model"} %>
            <%= link_to image_tag("/assets/print_icon.png"), "business_assets/#{asset.id}.lbl", data: { turbo_frame: "remote_model"} %>
            <%= link_to image_tag("/assets/delete.png"), "business_assets/#{asset.id}", data: { turbo_frame: "remote_model"} %>
            <%= link_to image_tag("/assets/request.png"), "business_assets/#{asset.id}", data: { turbo_frame: "remote_model"} %>
            <!--<button onclick="
            var tagId = '<%= asset.tag_id %>';
            var category = '<%= @categories[asset.asset_category_id] %>';
            var description = '<%= asset.description %>';
            var serialNumber = '<%= asset.serial_number %>';
            var location = '<%= asset.location %>';

            var content = '\n' 
                          + 'N\nq609\nQ406,026\nZT' 
                          + '\nI8,0,001'
                          + '\nB610,10,1,1,3,6,80,N,&quot;'+ tagId +'&quot;'
                          + '\nA30,30,0,1,2,2,N,&quot;Asset ID: ' + tagId + '&quot;' 
                          + '\nA30,76,0,1,2,2,N,&quot;Category: ' + category + '&quot;'
                          + '\nA30,122,0,1,2,2,N,&quot;Ser Number: ' + serialNumber + '&quot;'
                          + '\nA30,168,0,1,2,2,N,&quot;Location: ' + location+ '&quot;'
                          + '\nP1';
            var blob = new Blob([content], { type: 'text/plain' });
            var a = document.createElement('a');
            a.href = window.URL.createObjectURL(blob);
            a.download = 'asset_label.lbl';
            document.body.appendChild(a);
            a.click();
            document.body.removeChild(a);
          "><img src="/assets/print_icon.png"></button>-->
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<script>
    $(document).ready(function(){
        $("#textFilter").on("keyup", function() {
            const value = $(this).val().toLowerCase();
            $("#assetTable tr").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
        $("#categoryFilter").on("change", function() {
            console.log(this.value)
            const value = $(this).val();
            $("#assetTable tr").filter(function() {
                $(this).toggle($(this).text().indexOf(value) > -1)
            });
        });
    });
</script>