<%= form_with model: @new_person, url: employees_path, method: :post do |form| %>

    <p class="h5 ">New Employee Form</p>
  <!-- Progress Bar -->
  <div class="progress mb-3">
    <div id="progress-bar" class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
  </div>


  <div class="card w-100">
    <div class="card">
        <div class="card-header card-header-dark">
          <nav>
            <div class="nav nav-tabs " id="nav-tab" role="tablist">
              <button class="nav-link active" id="nav-personal-demographics-tab" data-bs-toggle="tab" data-bs-target="#nav-personal-demographics" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">1. Personal Demographics</button>
              <button class="nav-link" id="nav-employment-details-tab" data-bs-toggle="tab" data-bs-target="#nav-employment-details" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">2. Employment Details</button>
              <button class="nav-link" id="nav-level-effort-tab" data-bs-toggle="tab" data-bs-target="#nav-level-effort" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">3. Levels of Effort</button>
              <button class="nav-link" id="nav-supervision-tab" data-bs-toggle="tab" data-bs-target="#nav-supervision" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">4. Supervision</button>
              <button class="nav-link" id="nav-summary-tab" data-bs-toggle="tab" data-bs-target="#nav-summary" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">5. Summary</button>
            </div>
          </nav>
        </div>

        <hr>


        <div class="card-body">
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane active" id="nav-personal-demographics" role="tabpanel" aria-labelledby="nav-personal-demographics-tab">
              <div class="row">
                <div class="col-4">
                  <%= form.label :first_name, style: "display: block", class: "form-label" %>
                  <%= form.text_field :first_name, class: "form-control required-field", placeholder: 'Enter first name' %>
                </div>
                <div class="col">
                  <%= form.label :middle_name, style: "display: block", class: "form-label" %>
                  <%= form.text_field :middle_name, class: "form-control", placeholder: 'Enter middle name' %>
                </div>
                <div class="col-4">
                  <%= form.label :last_name, style: "display: block", class: "form-label" %>
                  <%= form.text_field :last_name, class: "form-control required-field", placeholder: 'Enter last name' %>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-4">
                  <%= form.label :birth_date, style: "display: block", class: "form-label" %>
                  <%= form.date_field :birth_date, class: "form-control required-field", placeholder: 'Enter last name' %>
                </div>
                <div class="col-4">
                  <%= form.label :gender, style: "display: block", class: "form-label" %>
                  <%= form.select(:gender, gender_options, { include_blank: "Select gender"}, { :class => 'form-select', required: true  }) %>
                </div>
                <div class="col-4">
                  <%= form.label :marital_status, style: "display: block", class: "form-label" %>
                  <%= form.select(:marital_status, marital_options, { include_blank: "Select marital status"}, { :class => 'form-select', required: true }) %>
                </div>

              </div>
              <hr/>
              <div class="row mt-3">
                <div class="col-3">
                  <%= form.label :primary_phone, style: "display: block", class: "form-label" %>
                  <%= form.text_field :primary_phone, class: "form-control required-field", placeholder: 'Enter primary phone no.' %>
                </div>
                <div class="col-3">
                  <%= form.label :alt_phone, style: "display: block", class: "form-label" %>
                  <%= form.text_field :alt_phone, class: "form-control", placeholder: 'Enter alternative phone no.' %>
                </div>
                <div class="col">
                  <%= form.label :email_address, style: "display: block", class: "form-label" %>
                  <%= form.text_field :email_address, class: "form-control required-field", placeholder: 'Enter last name' %>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col">
                  <%= form.label :postal_address, style: "display: block", class: "form-label" %>
                  <%= form.text_field :postal_address, class: "form-control required-field", placeholder: 'Enter last name' %>
                </div>
                <div class="col">
                  <%= form.label :official_email, style: "display: block", class: "form-label" %>
                  <%= form.text_field :official_email, class: "form-control required-field", placeholder: 'Enter last name' %>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col">
                  <%= form.label :residential_address, style: "display: block", class: "form-label" %>
                  <%= form.text_field :residential_address, class: "form-control required-field", placeholder: 'Enter last name' %>
                </div>
                <div class="col">
                  <%= form.label :landmark, style: "display: block", class: "form-label" %>
                  <%= form.text_field :landmark, class: "form-control required-field", placeholder: 'Enter last name' %>
                </div>
              </div>

              <button type="button" class="btn btn-primary mt-3" onclick="validateFields('nav-personal-demographics', 1, 'next')">Next</button>

            </div>


  <!--          2. Employement Details-->
            <div class="tab-pane" id="nav-employment-details" role="tabpanel" aria-labelledby="nav-employment-details-tab">
              <div class="row">
                <div class="col-5">
                  <%= form.label :employer, style: "display: block", class: "form-label" %>
                  <%= form.text_field :employer, class: "form-control", placeholder: 'Previous Employer/Company Name' %>
                </div>
                <div class="row mt-3">
                  <div class="col-4">
                    <%= form.label :address, style: "display: block", class: "form-label" %>
                    <%= form.text_field :address, class: "form-control", placeholder: 'Enter address' %>
                  </div>
                  <div class="col-4">
                    <%= form.label :location, style: "display: block", class: "form-label" %>
                    <%= form.text_field :location, class: "form-control", placeholder: 'Employer/Company Location (i.e. Lilongwe, Malawi)' %>
                  </div>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-4">
                  <%= form.label :position, style: "display: block", class: "form-label" %>
                  <%= form.text_field :position, class: "form-control", placeholder: 'Job Title/Position' %>
                </div>
                <div class="col-4">
                  <%= form.label :department, style: "display: block", class: "form-label" %>
                  <%= form.text_field :department, class: "form-control", placeholder: 'Job Title/Position' %>
                </div>

              </div>
              <div class="row mt-3">
                <div class="col-3">
                  <%= form.label :from_date, style: "display: block", class: "form-label" %>
                  <%= form.date_field :from_date, class: "form-control", placeholder: 'Date of start' %>
                </div>
                <div class="col-3">
                  <%= form.label :to_date, style: "display: block", class: "form-label" %>
                  <%= form.date_field :to_date, class: "form-control", placeholder: 'Date of Leave' %>
                </div>
              </div>

              <div class="row mt-3">
                <div class="col-6">
                  <%= form.label :reason_for_leaving, style: "display: block", class: "form-label" %>
                  <%= form.text_area :reason_for_leaving, class: "form-control", placeholder: 'Briefly describe reason for leaving last job', rows: 6, cols: 50 %>
                </div>
              </div>
              <%= link_to 'Back', '#nav-personal-demographics-tab', class: 'btn btn-secondary mt-3', data: { bs_toggle: 'tab' } %>
<!--              <button type="button" class="btn btn-secondary mt-3" onclick="navigateTab(1, 'previous')">Previous</button>-->
              <button type="button" class="btn btn-primary mt-3" onclick="validateFields('nav-employment-details', 2, 'next')">Next</button>
            </div>


  <!--          3. Level of Effort-->
            <div class="tab-pane" id="nav-level-effort" role="tabpanel" aria-labelledby="nav-level-effort-tab">
              <div class="row">
                <div class="col-4">
                  <%= form.label :employment_date, style: "display: block", class: "form-label" %>
                  <%= form.date_field :employment_date, class: "form-control required-field", placeholder: 'Enter employees employment date' %>
                </div>
                <div class="col">
                  <%= form.label :designated_role, style: "display: block", class: "form-label" %>
                  <%= form.select(:designated_role, roles, { include_blank: "Select role/position"}, { :class => 'form-select', required: true }) %>
                </div>
                <div class="col-4">
                  <%= form.label :designation_start_date, style: "display: block", class: "form-label" %>
                  <%= form.date_field :designation_start_date, class: "form-control required-field" %>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-4">
                  <%= form.label :project, style: "display: block", class: "form-label" %>
                  <%= form.select(:project, projects, { include_blank: "Select project"}, { :class => 'form-select', required: true }) %>
                </div>
                <div class="col-4">
                  <%= form.label :allocated_effort, style: "display: block", class: "form-label" %>
                  <%= form.number_field :allocated_effort, step:25, max: 100, min: 25, class: 'form-control', required: true %>
                </div>
              </div>
              <button type="button" class="btn btn-secondary mt-3" onclick="navigateTab(2, 'previous')">Previous</button>
              <button type="button" class="btn btn-primary mt-3" onclick="validateFields('nav-level-effort', 3, 'next')">Next</button>
            </div>


            <!--           Supervision-->
            <div class="tab-pane" id="nav-supervision" role="tabpanel" aria-labelledby="nav-supervision-tab">
              <div class="row">
                <div class="col-4">
                  <%= form.label :supervisor, style: "display: block", class: "form-label" %>
                  <%= form.select(:supervisor, supervisors, { include_blank: "Select supervisor"}, { :class => 'form-select', required: true }) %>
                </div>
                <div class="col-4">
                  <%= form.label :supervision_start_date_1, style: "display: block", class: "form-label" %>
                  <%= form.date_field :supervision_start_date_1, class: "form-control required-field" %>
                </div>
              </div>
              <hr/>


              <button type="button" class="btn btn-secondary mt-3" onclick="navigateTab(3, 'previous')">Previous</button>
              <button type="button" class="btn btn-primary mt-3" onclick="validateFields('nav-level-effort', 4, 'next')">Next</button>
            </div>

            <div class="tab-pane" id="nav-summary" role="tabpanel" aria-labelledby="nav-summary-tab">
              <!-- Summary Form Fields -->
              <button type="button" class="btn btn-secondary mt-3" onclick="navigateTab(4, 'previous')">Previous</button>
              <%= form.submit "Submit", class: "btn btn-success btn-block mt-3" %>
  <!--            <button type="submit" class="btn btn-success btn-block mt-3">Submit</button>-->

            </div>
          </div>
        </div>
    </div>
  </div>
<% end %>

<script>
    // Function to validate fields and move forward or backward
    function validateFields(tabId, step, direction) {
        var tab = document.getElementById(tabId);
        var requiredFields = tab.querySelectorAll('.required-field');
        var allFilled = true;

        requiredFields.forEach(function (field) {
            if (!field.value) {
                allFilled = false;
                field.classList.add('is-invalid'); // Highlight invalid fields
            } else {
                field.classList.remove('is-invalid');
            }
        });

        // Move to the next tab if fields are valid or we're going backwards
        if (allFilled || direction === 'previous') {
            updateProgress(step);
            navigateTab(step, direction);  // Call navigateTab with direction
        } else {
            alert('Please fill out all required fields.');
        }
    }

    // Generalized function to handle navigation between tabs
    function navigateTab(step, direction) {
        var tabButtons = document.querySelectorAll('#nav-tab button');
        var tabPanes = document.querySelectorAll('.tab-pane');

        // Determine the target step based on direction
        var targetStep = direction === 'next' ? step + 1 : step - 1;

        // Ensure targetStep is within valid range
        if (targetStep >= 1 && targetStep <= tabButtons.length) {
            // Deselect the current active tab and content
            var activeTabButton = document.querySelector('#nav-tab .nav-link.active');
            var activeTabPane = document.querySelector('.tab-pane.active');

            if (activeTabButton && activeTabPane) {
                activeTabButton.classList.remove('active');
                activeTabButton.setAttribute('aria-selected', 'false');
                activeTabPane.classList.remove('active', 'show');
            }

            // Activate the target tab and content (adjusted here to ensure proper indexing)
            var targetTabButton = tabButtons[targetStep - 1];  // Adjusted to target correct button
            var targetTabPane = tabPanes[targetStep - 1];      // Adjusted to target correct pane

            if (targetTabButton && targetTabPane) {
                targetTabButton.classList.add('active');
                targetTabButton.setAttribute('aria-selected', 'true');
                targetTabPane.classList.add('active', 'show');
            }
        }
    }


    // Function to update the progress bar
    function updateProgress(step) {
        var progressBar = document.getElementById('progress-bar');
        var progress = (step / 4) * 100; // Assuming 4 steps
        progressBar.style.width = progress + '%';
        progressBar.setAttribute('aria-valuenow', progress);
        progressBar.textContent = Math.round(progress) + '%';
    }
</script>