<h5>My Leave Dashboard</h5>
<hr/>
<div class="container-fluid">
  <div class="row">
    <div class="col-3">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">Remaining Annual Leave Days<span class="badge bg-secondary"><%= @remaining_leave_days %></span></p>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">Remaining Compens. Days <span class="badge bg-secondary"><%= (@remaining_comp_days/7.5).to_i %></span></p>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">Remaining Pat./Mat. Days <span class="badge bg-secondary"><%= (@remaining_parent_leave/7.5).to_i%></span></p>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">Remaining Unpaid Leave Days <span class="badge bg-secondary">-</span></p>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-6">
      <div class="card h-100">
        <div class="card-body">
          <h6>Overall Leave Summary</h6>
          <p class="card-text">Remaining Annual Days</p>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card h-100">
        <div class="card-body">
          <h6>List of Holidays</h6>
          <p class="card-text">Remaining Annual Days</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <h6>Employee Leave Tracker Sheet</h6>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Month</th>
          <th>Annual</th>
          <th>Sick</th>
          <th>Study</th>
          <th>Unpaid</th>
          <th>Compensatory</th>
          <th>Paternity/Maternity</th>
          <th>Total Leave</th>
          <th>Worked Days</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>January</td>
          <%#= @month_summary.each do |month| %>
          <td><%=@annual_summary[0] %></td>
          <td>&nbsp;<%=@sick_summary[0] %></td>
          <td>&nbsp;<%=@study_summary[0] %></td>
          <td>&nbsp;</td>
          <td>&nbsp;<%=@compensatory_summary[0] %></td>
          <td>&nbsp;<%#=@parent_summary[0] rescue 0%></td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <%#end %>
        </tr>
        <tr>
          <td>February</td>
          <td>&nbsp;<%=@annual_summary[1] %></td>
          <td>&nbsp;<%=@sick_summary[1] %></td>
          <td>&nbsp;<%=@study_summary[1] %></td>
          <td>&nbsp;</td>
          <td>&nbsp;<%=@compensatory_summary[1] %></td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td></tr>
        <tr>
          <td>March</td>
          <td>&nbsp;<%=@annual_summary[2] %></td>
          <td>&nbsp;<%=@sick_summary[2] %></td>
          <td>&nbsp;<%=@study_summary[2] %></td>
          <td>&nbsp;</td>
          <td>&nbsp;<%=@compensatory_summary[2] %></td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>April</td>
          <td>&nbsp;<%=@annual_summary[3] %></td>
          <td>&nbsp;<%=@sick_summary[3] %></td>
          <td>&nbsp;<%=@study_summary[3] %></td>
          <td>&nbsp;</td>
          <td>&nbsp;<%=@compensatory_summary[3] %></td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>May</td>
          <td>&nbsp;<%=@annual_summary[4] %></td>
          <td>&nbsp;<%=@sick_summary[4] %></td>
          <td>&nbsp;<%=@study_summary[4] %></td>
          <td>&nbsp;</td>
          <td>&nbsp;<%=@compensatory_summary[4] %></td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>June</td>
          <td>&nbsp;<%=@annual_summary[5] %></td>
          <td>&nbsp;<%=@sick_summary[5] %></td>
          <td>&nbsp;<%=@study_summary[5] %></td>
          <td>&nbsp;</td>
          <td>&nbsp;<%=@compensatory_summary[5] %></td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>July</td>
          <td>&nbsp;<%=@annual_summary[6] %></td>
          <td>&nbsp;<%=@sick_summary[6] %></td>
          <td>&nbsp;<%=@study_summary[6] %></td>
          <td>&nbsp;</td>
          <td>&nbsp;<%=@compensatory_summary[6] %></td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>August</td>
          <td>&nbsp;<%=@annual_summary[7] %></td>
          <td>&nbsp;<%=@sick_summary[7] %></td>
          <td>&nbsp;<%=@study_summary[7] %></td>
          <td>&nbsp;</td>
          <td>&nbsp;<%=@compensatory_summary[7] %></td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>September</td>
          <td>&nbsp;<%=@annual_summary[8] %></td>
          <td>&nbsp;<%=@sick_summary[8] %></td>
          <td>&nbsp;<%=@study_summary[8] %></td>
          <td>&nbsp;</td>
          <td>&nbsp;<%=@compensatory_summary[8] %></td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>October</td>
          <td>&nbsp;<%=@annual_summary[9] %></td>
          <td>&nbsp;<%=@sick_summary[9] %></td>
          <td>&nbsp;<%=@study_summary[9] %></td>
          <td>&nbsp;</td>
          <td>&nbsp;<%=@compensatory_summary[9] %></td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>November</td>
          <td>&nbsp;<%=@annual_summary[10] %></td>
          <td>&nbsp;<%=@sick_summary[10] %></td>
          <td>&nbsp;<%=@study_summary[10] %></td>
          <td>&nbsp;</td>
          <td>&nbsp;<%=@compensatory_summary[10] %></td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>December</td>
          <td>&nbsp;<%=@annual_summary[11] %></td>
          <td>&nbsp;<%=@sick_summary[11] %></td>
          <td>&nbsp;<%=@study_summary[11] %></td>
          <td>&nbsp;</td>
          <td>&nbsp;<%=@compensatory_summary[11] %></td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>