<h3>Step 1: Travel Details</h3>
<div class="mb-3">
  <%= form.label :destination, class: "form-label" %>
  <%= form.text_field :destination, class: "form-control" %>
</div>

<div class="mb-3">
  <%= form.label :vehicle, class: "form-label" %>
  <%= form.collection_select :asset_id, Asset.vehicles, :id, :description,
        { prompt: "Select a Vehicle" },
        {
          class: "form-select",
          data: { turbo_frame: "fuel_consumption_frame" },
          onchange: "Turbo.visit('/travel_requests/fuel_consumption?asset_id=' + this.value, { frame: 'fuel_consumption_frame' })"
        } %>

  <turbo-frame id="fuel_consumption_frame"></turbo-frame>
</div>


<div class="mb-3">
  <%= form.label :distance, class: "form-label" %>
  <%= form.number_field :distance, step: :any, class: "form-control" %>
</div>

<div class="mb-3">
  <%= form.label :traveler_names, class: "form-label" %>
  <%= form.text_area :traveler_names, class: "form-control", rows: 3, placeholder: "Enter names separated by commas (e.g., John Doe, Jane Smith)" %>
</div>

<div class="mb-3">
  <%= form.label :departure_date, class: "form-label" %>
  <%= form.date_field :departure_date, class: "form-control" %>
</div>

<div class="mb-3">
  <%= form.label :return_date, class: "form-label" %>
  <%= form.date_field :return_date, class: "form-control" %>
</div>

<div class="mb-3">
  <%= form.label :purpose, class: "form-label" %>
  <%= form.text_area :purpose, class: "form-control", rows: 3 %>
</div>

<div class="mb-3">
  <%= form.label :department, class: "form-label" %>
  <%= form.text_field :department, class: "form-control" %>
</div>

<%= hidden_field_tag 'requisition[project_id]', @selected_project&.id || params[:prj] %>

<div class="mb-3">
  <label for="requisition_project_id" class="form-label">Project</label>
  <%= select_tag 'requisition[project_id]',
        options_for_select(@project_options, @selected_project&.id),
        prompt: @selected_project&.full_name || 'Select Project',
        class: 'form-control',
        required: true %>
</div>

