<%= javascript_include_tag 'custom/jquery-3.6.1.min', 'data-turbolinks-track' => false %>

<p class="h4">Inventory Dashboard<p>
<div class="row mt-1 pt-2 pb-2" style="height: 30vh">
  <div class="col col-4">
    <%= render partial: "total_stock" %>
  </div>
  <div class="col col-4">
    <%= render partial: "low_stock" %>
  </div>
  <div class="col col-4">
    <%= render partial: "expiring_soon" %>
  </div>

</div>

<div class="row mt-4 pt-2 pb-2" style="height: 50vh;">
  <div class="col col-4.5">
    <%= render partial: "category_stock" %>
  </div>
  <div class="col col-4.5">
    <%= render partial: "stock_location" %>
  </div>
  <div class="col col-3">
    <%= render partial: "stock_levels" %>
  </div>
</div>
