<div class="col-5 border p-3 mt-4 mx-auto text-center">
  <h1>Forgot your password?</h1>
  <p>Please enter the email address associated with your account</p>

  <%= form_with model: @user, url: "/password_reset_forget", scope: :user do |form| %>
    <div>
      <%= form.label :email %>
      <%= form.text_field :email, required: true %>
    </div>
    <br/>

    <%= form.submit "Request password reset" %><br/><br/>
    <%= link_to "Back to Sign In", new_user_session_path %>
  <% end %>

</div>

<style>
    input[type=submit]{
        padding: 15px 32px;
        display: inline-block;
        font-size: 16px;
        font-weight: 600;
        margin-top: 15px;
        width: 50%;
        color: #D2E0E9;
        background-color: #00743F;
    }

    input[type=submit]:hover{
        font-size: 18px;
        color: #F3F4F6;
        background-color: #253F58;
    }
</style>