
<div class="row align-items-center">
  <div class="col-sm-3 ">&nbsp;</div>
  <div class="col-sm-6 ">
    <%= form_with model: @user, url: user_sessions_path, scope: :user do |form| %>
      <div class="card">
        <div class="card-header h5">
          Password Reset
        </div>
        <div class="card-body">
          <small class="m-2 p-1">Enter and confirm new password</small>
          <div class="row m-2 p-1">
            <div class="col-6">
              Enter new password
            </div>
            <div class="col-6">
              <%= form.password_field :password, required: true, class: "form-control" %>
              <i class="bi bi-eye-slash" id="togglePassword"></i>
            </div>
          </div>
          <div class="row m-2 p-1">
            <div class="col-6">
              Confirm password
            </div>
            <div class="col-6">
              <%= form.password_field :password_confirmation, required: true, class: "form-control" %>
              <i class="bi bi-eye-slash" id="toggleConfirmPassword"></i>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-5 text-center">
              <%= link_to "Cancel", root_path, class: "btn btn-danger" %>
            </div>
            <div class="col-6 text-center">
              <%= form.submit "Save", class: "btn btn-success" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-sm-3 ">&nbsp;</div>
</div>

<script>
    function togglePasswordVisibility(eyeIcon) {
        const passwordInput = eyeIcon.previousElementSibling;
        if (passwordInput.type === 'password') {
            passwordInput.type = 'text';
        } else {
            passwordInput.type = 'password';
        }
    }

    function checkPasswordMatch() {
        const passwordInput = document.querySelector('input[name="password"]');
        const confirmPasswordInput = document.querySelector('input[name="confirm_password"]');
        const passwordMatchError = document.querySelector('.password-match-error');

        const password = passwordInput.value;
        const confirmPassword = confirmPasswordInput.value;

        if (password === confirmPassword) {
            passwordMatchError.textContent = '';
        } else {
            passwordMatchError.textContent = 'Passwords do not match.';
        }
    }
</script>