
<div class="row align-items-center mt-sm-5">
  <div class="col-sm-3 ">&nbsp;</div>
  <div class="col-sm-6 ">
    <%= form_with model: @user, url: "/users/#{current_user.user_id}/password_reset",method: 'PUT' ,scope: :user do |form| %>
      <div class="card">
        <div class="card-header h5">
          Password Reset
        </div>
        <div class="card-body">
          <small class="m-2 p-1">Enter and confirm new password</small>
          <div class="row m-2 p-1">
            <div class="col-5">
              Enter new password
            </div>
            <div class="col-6">
              <%= form.password_field :password, required: true, class: "form-control" %>

            </div>
            <div class="col-1">
              <%= image_tag("/assets/disabled_visible.png", onClick: "togglePasswordVisibility(this)") %>
            </div>
          </div>
          <div class="row m-2 p-1">
            <div class="col-5">
              Confirm password
            </div>
            <div class="col-6">
              <%= form.password_field :password_confirmation, required: true, class: "form-control", onchange:"checkPasswordMatch()" %>
              <i class="bi bi-eye-slash" id="toggleConfirmPassword"></i>
            </div>
            <div class="col-1">&nbsp;</div>
          </div>
          <div class="row m-2 p-1">
            <div class="col-5">
              &nbsp;
            </div>
            <div class="col-6" id="password-match-error">
            </div>
            <div class="col-1">&nbsp;</div>
          </div>
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-12 text-center">
              <%= form.submit "Save", class: "btn btn-success w-50" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-sm-3 ">&nbsp;</div>
</div>

<script>
    function togglePasswordVisibility(element) {
        const passwordInput = document.getElementById('user_password');
        const passwordConfirmInput = document.getElementById('user_password_confirmation');
        if (passwordInput.type === 'password') {
            passwordInput.type = 'text';
            passwordConfirmInput.type = 'text';
            element.src = "/assets/visible.png"
        } else {
            passwordInput.type = 'password';
            passwordConfirmInput.type = 'password';
            element.src = "/assets/disabled_visible.png"
        }

    }

    function checkPasswordMatch() {
        const passwordInput = document.getElementById('user_password');
        const passwordConfirmInput = document.getElementById('user_password_confirmation');
        const passwordMatchError = document.getElementById('password-match-error');

        if (passwordInput.value == passwordConfirmInput.value) {
            passwordMatchError.textContent = '';
        } else {
            passwordMatchError.textContent = 'Passwords do not match.';
        }
    }
</script>