<%= form_with model: @timesheet, url: time_sheet_tasks_path do |form| %>

  <div class="row">
    <div class="col mb-3">
      Select Project
    </div>
    <div class="col mb-3">
      <%= form.select :project_id, options_for_select(@project_options, (@selected_project.id rescue nil)), prompt:params[:"prj"], 
      :class => 'form-select', required: true %>
    </div>
  </div>
  <div class="row">
    <div class="col mb-3">
      <%= form.label :task_date %>
      <%= form.date_field :task_date, value: params[:day], class: 'form-control', required: true %>
    </div>
    <div class="col mb-3">
      <%= form.label :duration %>
      <%= form.number_field :duration, step:0.25, max: 18, min: 0, class: 'form-control', required: true %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= form.label :description %>
      <%= form.text_field :description, value: params[:"tsk_desc"], class: 'form-control', required: true %>
    </div>
  </div>
  <div class="mb-3 mt-4">
    <%= form.hidden_field :time_sheet_id, value: params[:"time_sheet"] %>
    <%= form.submit "Save", class: "btn btn-success btn-block" %>
    <button id="close" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
  </div>
<% end %>
