<h4 class="modal-title">Leave Request</h4>
<hr>

<%= form_with model: @leave_request, url: leave_requests_path do |form| %>
<div class="row ps-lg-3">
  <div class = "card m-1 col-6">
    <div class="row mt-6">
      <div class="col-4 mt-3">
        Select Leave Type
      </div>
      <div class="col-6 mt-3 mb-4">
        <%= select_tag(:request_type, options_for_select(leave_types), class: "form-select") %>
      </div>
    </div>
    <div class="row mt-6">
      <div class="col-4 mt-3">
        Select Stand-In
      </div>
      <div class="col-6 mt-3 mb-4">
        <%= select_tag(:stand_in, options_for_select(@employees), class: "form-select") %>
      </div>
    </div>
    <div class="row mt-6">
      <div class="col-4">
        Start Date and Time
      </div>
      <div class="col-6 mb-4">
        <%= form.datetime_field("start_date", value: DateTime.now.strftime("%Y-%m-%dT%H:%M"), class: "form-control") %>
      </div>
    </div>
    <div class="row mt-6">
      <div class="col-4">
        End Date and Time
      </div>
      <div class="col-6 mb-4">
        <%= form.datetime_local_field("end_date", value: DateTime.now.strftime("%Y-%m-%dT%H:%M"), class: "form-control") %>
      </div>
      <div>

      </div>
      <hr>
      <div class="col-6 mb-2">
        <%= form.submit "Submit Request", class: "btn btn-success btn-block" %>
        <button class="btn btn-danger">Cancel</button>
      </div>
    </div>
  </div>
  <div class = "card m-1 col-5">
    <div class="col">
      <table class="table table-striped ml-8 table-hover", style="width: 100%">
        <thead class="table">
            <th>Leave Type</th>
            <th>Total leave days</th>        
            <th>Balance</th>  
        </thead>
        <tbody>
            <tr>
                <td><%= form.label :Annual_leave%></td>        
                <td><%= @annual_leave_bal.leave_days_total.floor(2) %></td>
                <td><%= @annual_leave_bal.leave_days_balance.floor(2) %></td>
            </tr>
            <tr>
                <td><%= form.label :Sick_leave%></td>        
                <td><%= @sick_leave_bal.leave_days_total.floor(2) %></td>
                <td><%= @sick_leave_bal.leave_days_balance.floor(2) %></td>
            </tr>
            <tr>
                <td><%= form.label :Compassionate%></td>        
                <td><%= @compassionate_leave_bal.leave_days_total.floor(2) %></td>
                <td><%= @compassionate_leave_bal.leave_days_balance.floor(2) %></td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<% end %>