<h4>Petty Cash Request</h4>
<%= form_with model: @requisition, url: requisitions_create_path do |form| %>

  <div class="row mt-4">
    <div class="col-md-2 mb-3 align-middle">
      <%= form.label :request_date, class:'h6' %>
    </div>
    <div class="col-md-2 mb-4">
      <%= form.date_field :request_date, value: Date.today,  class: 'form-control', required: true %>
    </div>
    <div class="col-md-auto mb-3 align-middle">
      <%= form.label :requested_by, class: 'h6' %>
    </div>
    <div class="col-md-3 mb-4">
      <%= form.text_field :requested_by, value: current_user.full_name,  class: 'form-control', required: true, readonly: true%>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 mb-4">
      <%= form.label :purpose, class: 'h6' %>
    </div>
    <div class="col-md-6 mb-4">
      <%= form.text_field :purpose, class: 'form-control', required: true %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 mb-4">
      <%= form.label :amount_requested, class: 'h6' %>
    </div>
    <div class="col-md-6 mb-4">
      <%= form.number_field :amount_requested, class: 'form-control', required: true %>
    </div>
  </div>
  <hr>

  <div class="row">
    <div class="col-md-6 mb-6">
      <%= form.submit "Submit Request", class: "btn btn-success btn-block" %>
      <%= link_to 'Cancel', '/requisitions/index', class: 'btn btn-danger btn-block'  %>
    </div>
  </div>
  <%= form.hidden_field :requisition_type, value: 'Petty Cash' %>
  <%= form.hidden_field :initiated_by, value: current_user.id %>
<% end %>