<h4>Purchase Request</h4>
<%= form_with model: @requisition, url: time_sheet_tasks_path do |form| %>

  <div class="row">
    <div class="col-md-3 mb-3">
      <%= form.label :request_date %>
      <%= form.date_field :request_date, value: Date.today,  class: 'form-control', required: true %>
    </div>
    <div class="col-md-3 mb-3">
      <%= form.label :name_of_supplier %>
      <%= form.text_field :name_of_supplier,  class: 'form-control', required: true %>
    </div>
    <div class="col-md-6 mb-4">
      <%= form.label :purpose_of_purchase %>
      <%= form.text_field :purpose_of_purchase, class: 'form-control', required: true %>
    </div>
  </div>
  <div class="row">

  </div>

  <div class="row">
    <div class="border p-2 mt-2">
      <table class="table table-striped ml-8 table-hover", style="width: 100%">
        <thead class="table-dark">
            <th width=30%>Quantinty</th>        
            <th>Description</th>     
        </thead>
        <tbody>
            <tr>
                <td><%= form.number_field :amount, step:0.00, max: 100000.00, class: 'form-control', required: true %></td>        
                <td><%= form.text_field :description, class: 'form-control', required: true %></td>        
            </tr>
            <tr>
                <td><%= form.number_field :amount, step:0.00, max: 100000.00, class: 'form-control'%></td>        
                <td><%= form.text_field :description, class: 'form-control'%></td>     
            </tr>
            <tr>
                <td><%= form.number_field :amount, step:0.00, max: 100000.00, class: 'form-control'%></td>        
                <td><%= form.text_field :description, class: 'form-control'%></td>     
            </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 mb-2">
      <%= form.label :requested_by %>
      <%= form.text_field :requested_by, value: current_user.full_name,  class: 'form-control', required: true %>
      <br/>
      <span class="mt-2">16 -Nov 2023 12:56 PM</span>

    </div>
    <div class="col-md-4 mb-2">
      <%= form.label :approved_by %>
      <%= form.text_field :approved_by, class: 'form-control', readonly: true %>
      <br/>
      <span class="mt-2">16 -Nov 2023 12:56 PM</span>
    </div>
  </div>

  <hr>

  <%= form.submit "Submit Request", class: "btn btn-success btn-block" %>
<% end %>