<h4>Purchase Request</h4>
<%= form_with model: @requisition, url: time_sheet_tasks_path do |form| %>

  <div class="row">
    <div class="col-md-3 mb-3">
      <%= form.label :request_date %>
      <%= form.date_field :request_date, value: Date.today,  class: 'form-control', required: true %>
    </div>
    <div class="col-md-3 mb-3">
      <%= form.label :Department %>
      <%= form.text_field :Department,  class: 'form-control', required: true %>
    </div>
    <div class="col-md-6 mb-4">
      <%= form.label :purpose_of_purchase %>
      <%= form.text_field :purpose_of_purchase, class: 'form-control', required: true %>
    </div>
  </div>
  <div class="row">

  </div>

  <div class="row">
    <div class="col-md-3 mb-2">
        <%= form.label :name_of_supplier%>
        <%= form.text_field :Department, class: 'form-control', required: true %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 mb-3">
      <table class="table table-striped ml-4 table-hover">
        <thead class="table-dark">
            <th >Quantinty</th>        
            <th>Description</th>     
            <th>Unit Price (MWK)</th>
            <th>Total (MWK)</th>      
        </thead>
        <tbody>
            <tr>
                <td><%= form.number_field :amount, step:0.00, max: 100000.00, class: 'form-control', required: true %></td>        
                <td><%= form.text_field :description, class: 'form-control', required: true %></td>     
                <td><%= form.text_field :unit_price, class: 'form-control', required: true %></td>
                <td><%= form.text_field :total, class: 'form-control', required: true %></td>      
            </tr>
            <tr>
                <td><%= form.number_field :amount, step:0.00, max: 100000.00, class: 'form-control'%></td>        
                <td><%= form.text_field :description, class: 'form-control'%></td>     
                <td><%= form.text_field :unit_price, class: 'form-control'%></td>
                <td><%= form.text_field :total, class: 'form-control'%></td>      
            </tr>
            <tr>
                <td><%= form.number_field :amount, step:0.00, max: 100000.00, class: 'form-control'%></td>        
                <td><%= form.text_field :description, class: 'form-control'%></td>     
                <td><%= form.text_field :unit_price, class: 'form-control'%></td>
                <td><%= form.text_field :total, class: 'form-control'%></td>       
            </tr>
            <tr>
                <td></td>        
                <td><%= form.label :sub_total%></td>
                <td></td>   
                <td></td>      
            </tr>
             <tr>
                <td></td>        
                <td><%= form.label :vat%></td>     
                <td></td>
                <td></td>      
            </tr>
            <tr>
                <td></td>        
                <td><%= form.label :total%></td>     
                <td></td>
                <td></td>      
            </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 mb-2">
      <%= form.label :requested_by %>
      <%= form.text_field :requested_by, value: current_user.full_name,  class: 'form-control', required: true %>
      <br/>
      <span class="mt-2">16 -Nov 2023 12:56 PM</span>

    </div>
    <div class="col-md-4 mb-2">
      <%= form.label :approved_by %>
      <%= form.text_field :approved_by, class: 'form-control', readonly: true %>
      <br/>
      <span class="mt-2">16 -Nov 2023 12:56 PM</span>
    </div>
  </div>

  <hr>

  <%= form.submit "Submit Request", class: "btn btn-success btn-block" %>
<% end %>