<%# 
<% form_url =
  if @possible_actions&.include?("Complete Procurement")
    complete_procurement_purchase_request_path(@requisition)
  else
    resubmit_request_requisition_path(@requisition)
  end
%> %>

<%= form_with model: @requisition, url: complete_procurement_purchase_request_path(@requisition), multipart: true, method: :patch do |form| %>
  <div class="row mt-3 p-2">
    <div class="col p-2">
      <div class="card">
        <div class="card-header card-header-dark">
          <div class="row">
            <div class="col col-md-9">
              <h5>Purchase Request</h5>
            </div>
            <div class="col col-md-2">
              <span class="fw-bold fst-italic">Status: <%= @requisition.current_state %></span>
            </div>
          </div>
        </div>

        <div class="card-body">
          <!-- Requisition info -->
          <div class="row mt-3">
            <div class="col-2 fw-normal">Initiated On</div>
            <div class="col-2 fw-bold fst-italic"><%= @requisition.initiated_on.strftime("%m/%d/%Y") %></div>
            <div class="col-2 fw-normal">Initiated By</div>
            <div class="col-2 fw-bold fst-italic"><%= @requisition.user.full_name %></div>
            <div class="col-2 fw-normal">Department</div>
            <div class="col-2 fw-bold fst-italic"><%= @requisition.purchase_request_attachment&.department&.department_name %></div>
          </div>

          <div class="row mt-4 mb-4">
            <div class="col-2 fw-normal">Purpose</div>
            <div class="col-2 fw-bold fst-italic"><%= @requisition.purpose %></div>
            <div class="col-2 fw-normal">Quantity</div>
            <div class="col-2 fw-bold fst-italic"><%= @requisition.quantity %></div>
          </div>

          <div class="row mt-3 mb-3">
            <div class="col-2 fw-normal">Reviewed By</div>
            <div class="col-2 fw-bold fst-italic"><%= @requisition.reviewer rescue nil %></div>
            <div class="col-2 fw-normal">Approved By</div>
            <div class="col-2 fw-bold fst-italic"><%= @requisition.approver rescue nil %></div>
            <div class="col-2 fw-normal">Item Description</div>
            <div class="col-2 fw-bold fst-italic"><%= @requisition.item_description %></div>
          </div>

          <% if @requisition.current_state == "Under Procurement" %>
            <div class="row mt-4 mb-3">
              <div class="col-4">
                <%= form.label :attachments, "Attach Supporting Documents (PDF, Images, Excel)", class: "form-label" %>
                <%= form.file_field :attachments, multiple: true, class: "form-control", direct_upload: true %>
              </div>
            </div>
            <div class="row mt-3">
  <div class="col-md-4">
    <%= form.label :amount, "Approved Amount", class: "form-label" %>
    <%= form.number_field :amount,
              step: "0.01",
              class: "form-control #{'is-invalid' if flash[:amount_error]}",
              min: 0,
              max: @purchase_request_threshold,
              required: true,
              data: { limit: @purchase_request_threshold },
              placeholder: "Max allowed: MWK#{number_with_precision(@purchase_request_threshold, precision: 2)}" %>
        <%end%>
  </div>
</div>
        </div>
      </div>

      <hr>

      <!-- Hidden fields -->
      <%= form.hidden_field :requisition_type, value: "Purchase Request" %>
      <%= form.hidden_field :workflow_state_id, value: params[:workflow_state_id] %>

      <% (@possible_actions || []).each do |action| %>
          <% btn_class = "btn btn-info" %>

          <% if action == "Complete Procurement" %>
            <%= form.submit action, class: "btn btn-info btn-block", data: { disable_with: "Processing..." } %>
          <% else %>
            <% path = "/purchase_requests/#{@requisition.id}/#{action.parameterize(separator: '_')}" %>
            <%= link_to action, path, class: btn_class, method: :put,
                        data: { turbo_method: :put, turbo_confirm: "Are you sure you want to #{action.split(' ').first.downcase} this request?" } %>
          <% end %>
        <% end %>
    </div>
  </div>
<% end %>
