<%= form_with model: @requisition, url: "/requisition_item/#{@requisition.id}" do |form| %>
  <div class="row">
    <div class="col col-md-9">
      <h4>Petty Cash Request</h4>
    </div>
      <div class="col col-md-2">
        <span class="fs-6 fw-bold">Status: </span> <%= @requisition.current_state %>
         <%#=raise @current_requisition.current_state.inspect %>
      </div>
  </div>

  <div class="row">
    <div class="col-md-3 mb-3">
      <%= form.label :initiated_on %>
      <%= form.text_field :initiated_on, value: @requisition.initiated_on.strftime("%m/%d/%Y"),  class: 'form-control', required: true %>
    </div>
    <div class="col-md-3 mb-3">
      <%= form.label :requested_by %>
      <%= form.text_field :requested_by, value: @requisition.user.full_name,  class: 'form-control', required: true %>
    </div>
    <div class="col-md-3 mb-3">
      <div>
        Project
      </div>
      <div>
        <%#= form.select :project_id, options_for_select(@project_options, (@selected_project.id rescue nil)),-->
                        prompt:(@selected_project.full_name rescue params[:"prj"]),-->
                        :class => 'form-control', required: true %>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-md-6 mb-4">
      <%= form.label :purpose %>
      <%= form.text_field :purpose, value: @requisition.purpose, class: 'form-control', required: true %>
    </div>
    <div class="col-md-3 mb-4">
      <%= form.label :amount%>
      <%= form.text_field :amount, value: @requisition.amount, class: 'form-control',required: true %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 mb-2">
      <%= form.label :authorized_by %>
      <%= form.text_field :authorized_by, class: 'form-control', readonly: true %>
      <br/>
      <span class="mt-2">16 -Nov 2023 12:56 PM</span>

    </div>
    <div class="col-md-4 mb-2">
      <%= form.label :paid_by %>
      <%= form.text_field :paid_by, class: 'form-control', readonly: true %>
      <br/>
      <span class="mt-2">16 -Nov 2023 12:56 PM</span>
    </div>
    <div class="col-md-4 mb-2">
      <%= form.label :liquidated_by %>
      <%= form.text_field :liquidated_by, class: 'form-control', readonly: true %>
      <br/>
      <span class="mt-2">16 -Nov 2023 12:56 PM</span>
    </div>
  </div>

  <hr>
  <%= form.hidden_field :requisition_type, value: "Petty Cash"%>
  <%= form.hidden_field :workflow_state_id, value: params[:workflow_state_id] %>
  <% (@possible_actions || []).each do |action| %>
  <% path = "/requisitions/#{ @requisition.id}/#{action.parameterize(separator: '_')}" %>
      <%= link_to action, path , class: "btn btn-info",method: :put,
                data: { turbo_method: :put, turbo_confirm: "Are you sure you want to #{action.split(" ")[0]} this request?" } %>
  <% end %>
<% end %>