<h4>Travel Request</h4>
<hr>
<%= form_with model: @requisition, url: requisitions_new_path do |form| %>

  <div class="row">
    <div class="col-3">
        <%= form.label :Department%>
        <%= form.text_field :Department, class: 'form-control', required: true %>
    </div>
    <div class="col-md-4">
        <%= form.label :Destination %>
        <%= form.text_field :Destination, class: 'form-control', required: true %>
    </div>
    <div class="col-md-4">
        <%= form.label :Project%>
        <%= form.text_field :Project, class: 'form-control', required: true %>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-4">
      Departure Date
      <%= form.date_field :departure_date, class: 'input', required: true, class: 'form-control' %>
    </div>
    <div class="col-4">
      Return Date
      <%= form.date_field :departure_date, class: 'input', required: true, class: 'form-control' %>
    </div>
    <div class="col-md-4 mb-4">
      <%= form.label :Purpose%>
      <%= form.text_field :purpose, class: 'form-control', required: true %>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-4 mb-4">
      <%= form.label :Amount%>
      <%= form.number_field :amount, step:0.00, max: 100000.00, class: 'form-control', required: true %>
    </div>
    <div class="col-md-4 mb-4">
      <%= form.label :Name_of_Traveller%>
      <%= form.text_field :requested_by, value: current_user.full_name,  class: 'form-control', required: true %>
    </div>
  </div>

</hr>
<%= form.submit "Submit Request", class: "btn btn-success btn-block" %>
<button class="btn btn-danger">Cancel</button>
<% end %>



