<h2>Petty Cash Request Approval</h2>

<p>Dear <%= @supervisor.person.first_name %>,</p>

<p>
  You have a new petty cash request awaiting your approval from
  <strong><%= @requester.person.first_name %></strong>:
</p>

<ul>
  <li><strong>Request ID:</strong> <%= @requisition.id %></li>
  <li><strong>Amount:</strong> <%= number_to_currency(@requisition.requisition_items.sum(&:value), unit:'MWK') %></li>
  <li><strong>Purpose:</strong> <%= @requisition.purpose %></li>
  <li><strong>Submitted:</strong> <%= @requisition.created_at.strftime('%b %d, %Y at %I:%M %p') %></li>
</ul>

<p>To review and take action, use the buttons below:</p>

<div style="display: flex; flex-direction: column; gap: 10px;">
  <%= form_with(url: url_for(controller: 'requisitions', action: 'approve_request', id: @requisition.id, approval_token: @requisition.approval_token), method: :put) do |f| %>
    <%= f.submit "Approve", class: "button", style: "display: block; width: 100%; padding: 10px 15px; background-color: #4CAF50; color: white; text-decoration: none; border-radius: 5px; border: none; cursor: pointer;text-align: center;" %>
  <% end %>

 <%= form_with(url: url_for(controller: 'requisitions', action: 'reject_request', id: @requisition.id, rejection_token: @requisition.rejection_token), method: :put) do |f| %>
  <%= f.submit "Reject", class: "button", style: "display: block; width: 100%; padding: 10px 15px; background-color: #f44336; color: white; text-decoration: none; border-radius: 5px; border: none; cursor: pointer; margin-left: 10px; text-align: center;" %>
<% end %>
</div>

<p>Please respond in time.</p>

<p>Thank you,<br><%= @requester.person.first_name %></p>