<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  <style>
    body {
      font-family: 'Trebuchet MS', sans-serif;
      background-color: #F3F4F6;
      padding: 20px;
    }
    .container {
      border: 1px solid #002130;
      width: 100%;
      margin: 0 auto;
    }
    .header {
      background-color: #002130;
      font-weight: bold;
      color: #E3E4E7;
      padding: 20px;
      text-align: center;
      font-size: 1.5rem;
    }
    .content {
      padding: 30px;
      font-size: 1.1rem;
      color: #002130;
    }
    .content ul {
      list-style: none;
      padding: 0;
    }
    .button {
      display: inline-block;
      padding: 10px 20px;
      text-decoration: none;
      border-radius: 5px;
      font-weight: bold;
      text-align: center;
      margin: 10px 5px;
      width: 180px;
    }
    .approve-button {
      background-color: #4CAF50;
      color: white;
    }
    .reject-button {
      background-color: #f44336;
      color: white;
    }
    .footer {
      margin-top: 30px;
      text-align: center;
      font-size: 0.9rem;
      color: #6c757d;
    }
  </style>
</head>
<body>

  <div class="container">
    <div class="header">
      Petty Cash Request - Edited and Requires Review
    </div>

    <div class="content">
      Dear <%= @requisition_details[:supervisor_full_name] %>,</p>

      <p>
        <strong><%= @requisition_details[:requester_name]%></strong>. has edited their petty cash request and it now requires your review again:
      </p>

      <ul>
        <li><strong>Amount:</strong> <%= number_to_currency(@requisition.requisition_items.sum(&:value), unit: 'MWK') %></li>
        <li><strong>Purpose:</strong> <%= @requisition.purpose %></li>
        <li><strong>Submitted:</strong> <%= @requisition.created_at.strftime('%b %d, %Y at %I:%M %p') %></li>
      </ul>

      <div style="display: flex; justify-content: center; margin-top: 20px;">
        <a href="<%= "#{Rails.application.config.omis_url}/requisitions/#{@requisition.id}" %>"
           style="display: inline-block; padding: 10px 20px; background-color: #002130; color: #E3E4E7;
                  text-decoration: none; border-radius: 5px; font-weight: bold;">
          Review on OMIS
        </a>
      </div>


      <p style="margin-top: 30px;">Please respond in time.</p>
    </div>
  </div>

  <div class="footer">
    <p>Informatics Team. <%= Time.current.year %></p>
  </div>

</body>
</html>
