<h5>Timesheet</h5>
<div class="border p-2">
  <div class="row">
    <div class="col-5">
      <span class="fs-6 fw-bold">Employee: </span> <%= @person.person.full_name %><br/>
      <span class="fs-6 fw-bold">Role: </span> <%= @person.current_position %>
    </div>
    <div class="col-4">
      <span class="fs-6 fw-bold">Period: </span> <%= @timesheet.period %><br/>
      <span class="fs-6 fw-bold">Status: </span> <%= @timesheet.status %>
    </div>
    <div class="col-3">
      <input type="date" class="form-control" id="period">
    </div>
  </div>
  <hr>
  <div class="row mt-2 mb-2">
    <div class="col col-md-3">
      <div class="row">
        <div class="col col-md-8"><small class="fs-6 fw-bold text-primary">Export Timesheet</small></div>
        <div class="col col-md-2">
          <%= link_to image_tag("/assets/xls-file.png"), "/timesheets/#{@timesheet.timesheet_id}.xsl"%>
        </div>
        <div class="col col-md-2">
          <%= link_to image_tag("/assets/pdf.png"), "/timesheets/#{@timesheet.timesheet_id}.pdf"%>
        </div>
      </div>
    </div>
    <div class="col text-end">
      <% if (@timesheet.status == "Pending Submit") && (@timesheet.employee_id == current_user.employee_id) %>
        <%= link_to "Add Task", new_time_sheet_task_path(time_sheet: @timesheet.id), class: "btn btn-primary",
                    data: { turbo_frame: "remote_modal" } %>
        <%= link_to "Submit Timesheet", "/timesheets/#{ @timesheet.id}/submit_timesheet", class: "btn btn-success",method: :put,
                    data: { turbo_method: :put, turbo_confirm: "Are you sure?" } %>
      <% elsif @timesheet.status == "Pending Approval" %>
        <% if @timesheet.employee_id == current_user.employee_id %>
          <%= link_to "Recall Timesheet", "/timesheets/#{ @timesheet.id}/recall_timesheet", class: "btn btn-info",method: :put,
                      data: { turbo_method: :put, turbo_confirm: "Are you sure you want to recall this timesheet?" } %>
        <% else %>
          <%= link_to "Approve Timesheet", "/timesheets/#{ @timesheet.id}/approve_timesheet", class: "btn btn-success",method: :put,
                      data: { turbo_method: :put, turbo_confirm: "Are you sure you want to approve this timesheet?" } %>
          <%= link_to "Reject Timesheet", "/timesheets/#{ @timesheet.id}/reject_timesheet", class: "btn btn-danger",method: :put,
                      data: { turbo_method: :put, turbo_confirm: "Are you sure you want to reject this timesheet?" } %>
        <% end %>
      <% end %>

    </div>
  </div>
</div>

<div class="border p-2 mt-2">
  <table class="table table-striped table-hover ">
    <thead class="table-dark">
    <th>Project</th>
    <th>Task</th>
    <% (0..6).each do |day| %>
      <th class="fs-6"><%= @timesheet.timesheet_week.advance(:days => day).strftime("%a, %b %d") %></th>
    <% end %>
    <th>Total</th>
    </thead>
    <tbody>
    <% week_total = Hash.new(0.0) %>

    <% (@records || []).each do |k, v| %>
      <tr>
        <th rowspan="<%= (v.keys.length + 1) %>">
          <%= @projects[k] %>
        </th>
        <% (v || []).each do |task, entries| %>
          <% total = 0.0 %>
        <tr>
          <td>
            <%= task %>
          </td>
          <% (0..6).each do |day| %>
            <td>
              <div class="row">
                <div class="col d-inline-block">
                  <div class="me-0" style = "display: inline-block">
                  <%= entries[day].blank? ? '-' : entries[day][:duration] %>
                  </div>
                  <% if (@timesheet.status == "Pending Submit") && (@timesheet.employee_id == current_user.employee_id) %>
                  <div class="dropdown" style="display: inline-block; padding:0;">
                  <button class="btn btn-default btn-sm dropdown-toggle" type="button" id="editDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="editDropdown">
                    <li>
                      <% if !entries[day].blank? %>
                        <%= link_to 'Edit', edit_time_sheet_task_path(time_sheet_task_id: entries[day][:id]), class: 'dropdown-item', data: { turbo_frame: "remote_modal" } %>
                      <% else %>
                        <%= link_to "Add Task", new_time_sheet_task_path(time_sheet: @timesheet.id), class: 'dropdown-item',
                            data: { turbo_frame: "remote_modal" } %>
                      <% end %>                      
                    </li>
                    <li>
                      <% if !entries[day].blank? %>
                        <%= button_to 'Delete', "/time_sheet_tasks/#{entries[day][:id]}", method: :delete, class: 'dropdown-item btn btn-dark', data: { turbo_confirm: 'Are you sure?' } %>
                      <% end %>                    
                    </li>
                  </ul>
                  </div>
                  <% end %>
                </div>
              </div>
            </td>
            <% total +=  (entries[day].blank? ? 0 : entries[day][:duration]) %>
            <% week_total[day] +=  (entries[day].blank? ? 0 : entries[day][:duration]) %>
          <% end %>
          <td><%= total %></td>
        </tr>
      <% end %>
      </tr>
    <% end %>
    </tbody>
    <tfoot>
    <th colspan="2">Total</th>
    <% (0..6).each do |day| %>
      <th><%= week_total[day] %></th>
    <% end %>
    <th><%= week_total.values.sum %></th>
    </tfoot>
  </table>
</div>

<div class="container" id="app">
  <div id="image-modal" class="modal">
    <%= form_for "time_sheet_task", url: time_sheet_tasks_path  do |form| %>
      <div class="modal-background"></div>
      <div class="modal-content">
        <div class="modal-card">
          <header class="modal-card-head">
            <p class="modal-card-title">Add Task</p>
          </header>
          <section class="modal-card-body">
            <div class="columns">
              <div class="column">
                Select Project
              </div>
              <div class="column">
                <div class="select is-fullwidth">
                  <%= form.select :project_id, @project_options %>
                </div>
              </div>
            </div>
            <div class="columns">
              <div class="column">
                <%= form.label :task_date %>
                <%= form.date_field :task_date, class: 'input', required: true %>
              </div>
              <div class="column">
                <%= form.label :duration %>
                <%= form.number_field :duration, step:0.25, class: 'input', required: true %>
              </div>
            </div>
            <div class="columns">
              <div class="column">
                <%= form.label :description %>
                <%= form.text_field :description, class: 'input', required: true %>
              </div>
            </div>
          </section>
          <footer class="modal-card-foot">
            <%= form.submit "Save", class: "button is-success" %>
            <button id="close" class="button">Cancel</button>
          </footer>
        </div>
      </div>
      <%= form.hidden_field :time_sheet_id, value: @timesheet.timesheet_id %>
    <% end %>
    <button id="image-modal-close" class="modal-close"></button>
  </div>
</div>
<script>
    const picker  = document.getElementById('period');
    const currentDate = new Date("<%= @timesheet.timesheet_week.strftime("%Y-%m-%d") %>")

    function checkNewDate(event)
    {
        const newDate = new Date(picker.value);
        const dateDifference = parseInt((currentDate - newDate) / (1000 * 60 * 60 * 24));
        if((dateDifference > 0) || (dateDifference < -6))
        {
            window.location = "/timesheets/show?period=" + picker.value
        }
    }

    function onLoad(){
        picker.addEventListener('change', checkNewDate);
    }


    setTimeout('onLoad()', 3000)
</script>

<style>
    tbody.td {
        text-align: center;
    }
</style>