<%= form_with model: @requisition, url: create_purchase_request_path, method: :post, local: true, html: { id: "multiStepForm", data: { controller: "purchase" } } do |form| %>

  <div class="container-fluid mt-4 ml-4 mr-4">
    <div class="card w-100 shadow-sm">

      <div class="tab-content border" id="nav-tabContent">

        <div class="tab-pane fade show active" id="nav-step1" role="tabpanel">
          <%= render 'requisitions/requested_purchase_request', form: form %>
        </div>

        <div class="tab-pane fade" id="nav-step2" role="tabpanel">
          <%= render 'requisitions/purchase_requests/under_ipc', form: form %>
        </div>
         
          <div class="tab-pane fade" id="nav-step3" role="tabpanel">
          <%= render 'requisitions/purchase_requests/proof_of_payment', form: form %>
        </div>

         <div class="tab-pane fade" id="nav-step4" role="tabpanel">
          <%= render 'requisitions/purchase_requests/confirm_delivery_form', form: form %>
        </div>

        <div class="tab-pane fade" id="nav-step5" role="tabpanel">
          <%= render 'requisitions/purchase_requests/asset_registration_form', form: form %>
        </div>

        <div class="d-flex justify-content-between mt-3 p-3">
          <button type="button" class="btn btn-secondary" data-action="purchase#previousStep">Previous</button>
          <button type="button" class="btn btn-primary" data-action="purchase#nextStep">Next</button>
          <%= form.submit "Submit Request", class: "btn btn-success d-none", data: { purchase_target: "submitButton" } %>
        </div>

      </div>
    </div>
  </div>

<% end %>
