
<!-- MIDDLE SECTION (2 CARDS)-->
<div class="grid grid-cols-2 gap-4 h-[52.5%]">

    <%# BAR GRAPH %>
    <div class="bg-white rounded-2xl shadow p-4 overflow-hidden">
        <div class="h-full w-full flex flex-col">
            <h2 class="text-4xl font-semibold text-gray-800 mb-2  pb-5">Workforce Age Distribution</h2>
            <div class="h-80 w-full">
            <canvas id="ageChart" class="w-full h-full"></canvas>
            </div>          
        </div>               
    </div>


  <%# PIE CHART %>
<div class="bg-white rounded-2xl shadow p-4 overflow-hidden flex justify-center space-x-8">
  <!-- Canvas for Pie Chart -->
  <canvas id="genderChart" class="w-48 h-48"></canvas>

  <!-- Text Breakdown with Title on Top and Labels Centered -->
  <div class="flex flex-col h-full">
    <!-- Title stays at the top -->
    <h1 class="text-4xl font-semibold text-gray-800 mb-4">Gender Distribution</h1>

    <!-- Center labels vertically in remaining space -->
    <div class="flex-1 flex flex-col justify-center space-y-4  ml-10 text-left">
      <div class="flex items-center space-x-3">
        <span class="w-7 h-8 rounded-full bg-pink-300 inline-block"></span>
        <span class="text-3xl text-gray-700"><strong>Total Female:</strong> <%=@metadata[:gender_female]%></span>
      </div>
      <div class="flex items-center space-x-3">
        <span class="w-7 h-8 rounded-full bg-blue-800 inline-block"></span>
        <span class="text-3xl text-gray-700"><strong>Total Male:</strong> <%=@metadata[:gender_male]%></span>
      </div>
      <div class="flex items-center space-x-3">
        <span class="w-7 h-8 rounded-full bg-gray-500 inline-block"></span>
        <span class="text-3xl text-gray-700"><strong>Total Other:</strong> <%=@metadata[:gender_other]%></span>
      </div>
    </div>
  </div>
</div>



</div>


<!-- Bottom Section (2 Cards) -->
<div class="grid grid-cols-2 gap-4 h-[30.5%]">
  <!-- Total Headcount Card -->
  <div class="bg-white rounded-2xl shadow flex flex-col justify-center items-center p-6">
    <div class="text-9xl font-bold text-gray-800"><%=@metadata[:headcount]%></div>
    <div class="text-4xl font-semibold text-gray-600 mt-2">Total Employees</div>
  </div>

  <!-- New Hires Card -->
  <div class="bg-white rounded-2xl shadow flex flex-col justify-center items-center p-6">
    <div class="text-9xl font-bold text-green-600">+<%=@metadata[:new_hires]%></div>
    <div class="text-4xl font-semibold text-gray-600 mt-2">New Hires</div>
  </div>
</div>