<!-- Top Section, Contain Counts for Growth and Headcount  -->
<div class="bg-white rounded-2xl shadow p-6 flex justify-around items-center h-[20%] overflow-hidden">
  <div class="text-center">
    <div class="text-5xl font-semibold text-gray-800"><%=@metadata[:headcount]%></div>
    <div class="text-2xl text-gray-500">Total Headcount</div>
  </div>
  <div class="text-center">
    <div class="text-5xl font-semibold text-green-600">+<%=@metadata[:new_hires]%></div>
    <div class="text-2xl text-gray-500">New Hires</div>
  </div>
  <div class="text-center">
    <div class="text-5xl font-semibold text-red-600">-<%=@metadata[:new_departures]%></div>
    <div class="text-2xl text-gray-500">Departures</div>
  </div>
</div>

<!-- MIDDLE SECTION (2 CARDS)-->
<div class="grid grid-cols-2 gap-4 h-[42.5%]">

  <%# TRENDING %>
<div class="bg-white rounded-2xl shadow p-2 overflow-hidden">
  <div class="h-full w-full flex flex-col">
    <h2 class="text-xl font-semibold text-gray-800 mb-2">Headcount Trend</h2>
    <div class="h-80 w-full">
      <canvas id="trendChart" class="w-full h-full"></canvas>
    </div>
  </div>               
</div>


  <%# PIE CHART %>
  <div class="bg-white rounded-2xl shadow p-4 overflow-hidden flex items-center justify-center space-x-8">

      <!-- Canvas for Pie Chart -->
      <canvas id="genderChart" class="w-48 h-48"></canvas>
      <!-- Text Breakdown with Color Keys -->
      <div class="space-y-4 text-left">
        <div class="flex items-center space-x-3">
          <h1 class="text-xl font-semibold text-gray-800">Workforce Gender Distribution</h1>
        </div>
        <div class="flex items-center space-x-3">
          <span class="w-4 h-4 rounded-full bg-pink-300 inline-block"></span>
          <span class="text-lg text-gray-700"><strong>Total Female:</strong> <%=@metadata[:gender_female]%></span>
        </div>
        <div class="flex items-center space-x-3">
          <span class="w-4 h-4 rounded-full bg-blue-800 inline-block"></span>
          <span class="text-lg text-gray-700"><strong>Total Male:</strong> <%=@metadata[:gender_male]%></span>
        </div>
        <div class="flex items-center space-x-3">
          <span class="w-4 h-4 rounded-full bg-gray-500 inline-block"></span>
          <span class="text-lg text-gray-700"><strong>Total Other:</strong> <%=@metadata[:gender_other]%></span>
        </div>
      </div>
  </div>

</div>


<%# ------- %>
<!-- Bottom Section (2 Cards) -->
<div class="grid grid-cols-2 gap-4 h-[42.5%]">
  <div class="bg-white rounded-2xl shadow p-4 overflow-hidden">
    <!-- Card 3 Content -->
    <div class="h-full w-full">Card 3 Content</div>
  </div>
  <div class="bg-white rounded-2xl shadow p-4 overflow-hidden">
    <!-- Card 4 Content -->
    <div class="h-full w-full">Card 4 Content</div>
  </div>
</div>
