<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GHII Dashboards</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>


</head>
<body class="h-screen w-screen overflow-hidden bg-gray-100 p-4">
  <!-- Main Layout -->
  <div class="flex flex-col h-full space-y-4">

    <!-- Header Section inside a Card -->
    <header class="bg-blue-100 rounded-2xl shadow p-6 flex justify-between items-center max-h-[15%] min-h-[10%] overflow-hidden">

      <div class="text-8xl tracking-wide text-gray-800 pl-10" id="dashboard-title">
      </div>

      <div class="flex items-center space-x-4 pr-10">
        <div class="bg-gray-300 text-gray-800 text-lg font-semibold px-12 py-12 rounded-full shadow-sm">
          <p class="text-4xl">
            <%= @common_data[:subtitle_1] %>
          </p>
          <p class="text-2xl"><%=@common_data[:subtitle_2]%></p> 
        </div>
        <%= image_tag("/assets/ghii-logo.png", class: "h-16 w-auto object-contain") %>
      </div>

    </header>

    <span data-title="<%= @gender_age[:title] %>" style="position: absolute; transform: translateY(-80px); width: 0; height: 0;"></span>
    <%= render 'dashboards/gender_age' %>
    <%= render 'dashboards/gender_age_script' %>


    <span data-title="<%= @tenure[:title] %>" style="position: absolute; transform: translateY(-80px); width: 0; height: 0;"></span>
    <%= render 'dashboards/tenure' %>
    <%= render 'dashboards/tenure_script' %>


    <span data-title="<%= @project[:title] %>" style="position: absolute; transform: translateY(-80px); width: 0; height: 0;"></span>
    <%= render 'dashboards/project' %>
    <%= render 'dashboards/project_script' %>
  </div>

  <%= render 'dashboards/dashboard_script' %>

</body>
</html>
