
<div class="row">
  <div class="col-5">
    <span class="fs-6 fw-bold">Employee: </span> <%= @person.person.full_name %><br/>
    <span class="fs-6 fw-bold">Role: </span> <%= @person.current_position %>
  </div>
  <div class="col-4">
    <span class="fs-6 fw-bold">Period: </span> <%= @first_day %><br/>
    <span class="fs-6 fw-bold">Status: </span> <%#= @timesheet.status %>
  </div>
  <div class="col-3">
    <input type="date" class="form-control" id="period">
  </div>
</div>

<table class="table">
  <thead class="table-secondary">
    <tr>
      <td>Project</td>
      <% (1..@num_of_weeks).each do |week| %>
        <td class="text-center" colspan="7"><%= "#{week.ordinalize} Week"%></td>
      <% end %>
    </tr>
    <tr>
      <td>Day</td>
      <% (0..(@last_day-1)).each do |i| %>
        <td><%= @first_day.beginning_of_month.advance(days: i).strftime("%a") %></td>
      <% end %>
    </tr>
    <tr>
      <td>Date</td>
      <% (1..@last_day).each do |i| %>
        <td class="text-center"><%= i %></td>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% (@daily_summary || []).each do |project, summary| %>
      <tr>
        <th><%= Project.find(project).short_name %></th>
        <% (1..@last_day).each do |i| %>
          <td><%= (summary[i].blank? ? '-' : summary[i].floor(2) ) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>