<div class="card h-100">
  <div class="card-body p-2">
    <h6>Workforce Age Rate</h6>
    <div class="text-center">
      <canvas id="ageBar" style="height: 35vh !important;"></canvas>
    </div>
  </div>
</div>

<script
  src="https://cdn.jsdelivr.net/npm/chart.js@4.0.1/dist/chart.umd.min.js"></script>

<script>
    const ctx = document.getElementById('ageBar');
    new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['18-24', '25-29', '30-44', '45-60', '60+'],
            datasets: [{ data: [<%= (@age_summary['18-24'] || 0)%>,<%= (@age_summary['25-29'] || 0)%>,
                    <%= (@age_summary[ '30-44'] || 0) %>, <%= (@age_summary['45-60'] || 0)%>,
                    <%= (@age_summary['60+'] || 0)%>],
                backgroundColor: ['#C4DFE6','#6FB98F','#2C7873','#004445','#021C1E'],
                label: "Age Categories", borderWidth: 1}]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            },
            plugins: {
                legend: {
                    display: false
                }
            }
        }
    });
</script>