<!DOCTYPE html>
<html>
  <head>
    <title>OMIS</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="container-fluid">
        <div class="row flex-nowrap">
            <div class="col-auto col-md-2 col-xl-1 px-sm-1 px-0" style="background-color: #002C2F;">
                <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                    <%= link_to "OMIS", "/", class: "fs-4 text-white text-decoration-none d-sm-inline" %>
                    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                        <li class="nav-item">
                          <%= link_to "Home", "/", class: "nav-link text-white align-middle px-0" %>
                        </li>
                        <li class="nav-item">
                          <%= link_to "Assets", "/", class: "nav-link text-white align-middle px-0" %>
                        </li>
                        <li class="nav-item">
                          <%= link_to "Projects", "/", class: "nav-link text-white align-middle px-0" %>
                        </li>
                        <li class="nav-item">
                          <%= link_to "Reports", "/", class: "nav-link text-white align-middle px-0" %>
                        </li>
                        <li class="nav-item">
                          <%= link_to "Settings", "/", class: "nav-link text-white align-middle px-0" %>
                        </li>
                        <li class="nav-item">
                          <%= link_to "About", "/", class: "nav-link text-white align-middle px-0" %>
                        </li>
                    </ul>
                    <hr>
                    <div class="dropdown pb-4">
                        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30" class="rounded-circle">
                            <span class="d-none d-sm-inline mx-1">loser</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                            <li><a class="dropdown-item" href="#">New project...</a></li>
                            <li><a class="dropdown-item" href="#">Settings</a></li>
                            <li><a class="dropdown-item" href="#">Profile</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Sign out</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col py-3">
              <%= yield %>
              <%= turbo_frame_tag "remote_modal", target: "_top" %>
            </div>
        </div>
    </div>
  </body>
</html>
